<p>
  Toon pagina {{ selectedPage }} van {{ nrOfPages }} van totaal
  {{ total_count }} giphies
</p>
<div class="pagination">
  <div
    class="material-icons page-link compress_content d-flex justify-content-center align-items-center"
    (click)="getPage(1 + (selectedPage - firstPage))"
    title="Toon eerste {{ nrOfPageButtons }} paginas"
  >
    chevron_left chevron_left
  </div>
  <div
    class="material-icons page-link"
    (click)="getPage(selectedPage - nrOfPageButtons)"
    title="Toon vorige {{ nrOfPageButtons }} paginas"
  >
    chevron_left
  </div>
  <div
    *ngFor="let page of arrayIze(nrOfPageButtons); let i = index"
    [ngClass]="{ selected: firstPage + i === selectedPage, 'page-link': true }"
    (click)="getPage(firstPage + i)"
  >
    {{ firstPage + i }}
  </div>
  <div
    class="material-icons page-link"
    (click)="getPage(selectedPage + nrOfPageButtons)"
    title="Toon volgende {{ nrOfPageButtons }} paginas"
  >
    chevron_right
  </div>
  <div
    class="material-icons page-link compress_content d-flex justify-content-center align-items-center"
    (click)="
      getPage(nrOfPages - nrOfPageButtons + (selectedPage - firstPage) + 1)
    "
    title="Toon laatste {{ nrOfPageButtons }} paginas"
  >
    chevron_right chevron_right
  </div>
</div>
