<mat-form-field class="full-width">
  <mat-label>Zoek iets</mat-label>
  <input matInput #searchText value="cats" />
  <button matButton #searchButton>Search</button>
</mat-form-field>

<mat-grid-list
  cols="{{ GRID_COLUMNS_PER_ROW }}"
  rowHeight="4:5"
  gutterSize="1rem"
>
  <mat-grid-tile *ngFor="let giph of giphies" class="mat-elevation-z8">
    <img src="{{ giph.images.fixed_height.url }}" alt="" />
    <mat-grid-tile-footer>{{ giph.title }}</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
