.mat-grid-list {
  justify-content: center;
  margin: 0 auto;
}

.topBar {
  display: flex;
  margin: 3rem auto;
  padding: 3rem;

  label {
    font-style: oblique;
    font-size: 1.8rem;
  }

  button {
    height: fit-content;
    margin-top: 3rem;
  }

  div,
  input {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border: none;
    font-size: 2rem;
  }

  input {
    text-align: center;
  }
}

mat-grid-tile {
  img {
    cursor: pointer;
    max-width: 200px;
  }
  background-color: #fff;
  border-radius: 5px;
}

mat-grid-tile-footer {
  background-color: red;
  border-radius: 5px;
  height: fit-content !important;
  margin: 10px;
}
