<div class="topBar align-items-center">
  <div>
    <label>Zoek iets</label>
    <input mat-input #searchText class="mat-elevation-z8 rounded-lg" />
  </div>
  <button type="button" #searchButton class="btn btn-primary">
    Search
  </button>
</div>

<mat-grid-list
  cols="{{ GRID_GIPHS_PER_ROW }}"
  rowHeight="4:5"
  gutterSize="1rem"
>
  <mat-grid-tile
    *ngFor="let giph of giphies"
    class="mat-elevation-z8"
    (click)="
      openModal(modal, {
        height: giph.images.original.height,
        imageSrc: giph.images.original.url,
        title: giph.title
      })
    "
  >
    <img src="{{ giph.images.fixed_height.url }}" alt="" />
    <mat-grid-tile-footer>{{ giph.title }}</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<div class="d-flex m-3 justify-content-end">
  <app-pagination
    count="{{ paginationOptions.count }}"
    offset="{{ paginationOptions.offset }}"
    total_count="{{ paginationOptions.total_count }}"
    (getDataEvent)="retrieveGiphies($event)"
  ></app-pagination>
</div>
<!-- Modal -->

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img
      src="{{ imageSrc }}"
      height="{{ giph.images.fixed_height.height }}"
      alt="title"
    />
  </div>
</ng-template>
